/* Estilo geral */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1d1d1d; /* Fundo escuro */
  overflow: hidden;
}

.button-container {
  position: relative;
}

.pixel-button {
  font-family: 'Press Start 2P', monospace;
  font-size: 16px;
  padding: 12px 24px;
  background-color: #ff4747;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  outline: none;
  border: 4px solid #fff;
}

.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  pointer-events: none;
  z-index: 0;
}
